$color-light: #fff;
$dark: var(--color-black);
$color-main: red;

:root {
  --color-black: black;
}

html, body {
  background: $dark;
  color: $color-light;
}


.my-elem-class {
  width: 100px;
  height: 100px;
  background: $color-main;

  transform: translate(var(--x), var(--y)) rotate(var(--angle))
}
